In [9]:
import os
print(os.getcwd())

c:\Users\sharm\Desktop\DataPreprocessingProject\Smart-Energy-Consumption-Analysis-and-Prediction-using-Machine-Learning-with-Device-Level-Insights-\notebooks

In [28]:
import pandas as pd

df = pd.read_csv("../data/raw/household_power_consumption.csv")

In [29]:
from pathlib import Path
import pandas as pd

BASE_DIR = Path.cwd().parent   # move out of notebooks
DATA_PATH = BASE_DIR / "data" / "raw" / "household_power_consumption.csv"

print(DATA_PATH.exists())  # should be True

df = pd.read_csv(DATA_PATH)

True

In [30]:
import os
print(os.listdir(".."))
print(os.listdir("../data"))
print(os.listdir("../data/raw"))

['.git', '.gitignore', 'backend', 'dashboard', 'data', 'deployment', 'frontend', 'LICENSE', 'models', 'notebooks', 'README.md']
['.gitkeep', 'processed', 'raw']
['.gitkeep', 'household_power_consumption.csv']

In [31]:

df.head()
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 1 columns):
 #   Column                                                                                                                     Dtype
---  ------                                                                                                                     -----
 0   Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3  object
dtypes: object(1)
memory usage: 15.8+ MB

(2075259, 1)

In [32]:
#missing values
df.isin(["?"]).sum()

Date;Time;Global_active_power;Global_reactive_power;Voltage;Global_intensity;Sub_metering_1;Sub_metering_2;Sub_metering_3    0
dtype: int64

In [33]:
import numpy as np
df.replace("?", np.nan, inplace=True)

In [34]:
df.dropna(inplace=True)

In [ ]:
df.rename(columns=lambda x: x.strip().lower().replace(' ', '_'), inplace=True)

In [46]:
df.head()  # Shows the first 5 rows
df.head(10)  # Shows the first 10 rows

  date;time;global_active_power;global_reactive_power;voltage;global_intensity;sub_metering_1;sub_metering_2;sub_metering_3
0  16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
1  16/12/2006;17:25:00;5.360;0.436;233.630;23.000...
2  16/12/2006;17:26:00;5.374;0.498;233.290;23.000...
3  16/12/2006;17:27:00;5.388;0.502;233.740;23.000...
4  16/12/2006;17:28:00;3.666;0.528;235.680;15.800...
5  16/12/2006;17:29:00;3.520;0.522;235.020;15.000...
6  16/12/2006;17:30:00;3.702;0.520;235.090;15.800...
7  16/12/2006;17:31:00;3.700;0.520;235.220;15.800...
8  16/12/2006;17:32:00;3.668;0.510;233.990;15.800...
9  16/12/2006;17:33:00;3.662;0.510;233.860;15.800...

In [47]:
df.tail()

        date;time;global_active_power;global_reactive_power;voltage;global_intensity;sub_metering_1;sub_metering_2;sub_metering_3
2075254  26/11/2010;20:58:00;0.946;0.000;240.430;4.000;...
2075255  26/11/2010;20:59:00;0.944;0.000;240.000;4.000;...
2075256  26/11/2010;21:00:00;0.938;0.000;239.820;3.800;...
2075257  26/11/2010;21:01:00;0.934;0.000;239.700;3.800;...
2075258  26/11/2010;21:02:00;0.932;0.000;239.550;3.800;...

In [51]:
df.describe()

       date;time;global_active_power;global_reactive_power;voltage;global_intensity;sub_metering_1;sub_metering_2;sub_metering_3
count                                             2075259
unique                                            2075259
top     16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
freq                                                    1

In [52]:
df.isnull().sum()

date;time;global_active_power;global_reactive_power;voltage;global_intensity;sub_metering_1;sub_metering_2;sub_metering_3    0
dtype: int64

In [56]:
from IPython.display import display
display(df.head(10))

  date;time;global_active_power;global_reactive_power;voltage;global_intensity;sub_metering_1;sub_metering_2;sub_metering_3
0  16/12/2006;17:24:00;4.216;0.418;234.840;18.400...
1  16/12/2006;17:25:00;5.360;0.436;233.630;23.000...
2  16/12/2006;17:26:00;5.374;0.498;233.290;23.000...
3  16/12/2006;17:27:00;5.388;0.502;233.740;23.000...
4  16/12/2006;17:28:00;3.666;0.528;235.680;15.800...
5  16/12/2006;17:29:00;3.520;0.522;235.020;15.000...
6  16/12/2006;17:30:00;3.702;0.520;235.090;15.800...
7  16/12/2006;17:31:00;3.700;0.520;235.220;15.800...
8  16/12/2006;17:32:00;3.668;0.510;233.990;15.800...
9  16/12/2006;17:33:00;3.662;0.510;233.860;15.800...