# Milestone 3: Feature Scaling and Data Splitting

This notebook prepares the energy consumption dataset
for machine learning by scaling features and splitting
the data into training and testing sets.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv(
    "../data/household_power_consumption.txt",
    sep=";",
    na_values="?",
    low_memory=False
)

df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [3]:
df["datetime"] = pd.to_datetime(
    df["Date"] + " " + df["Time"],
    dayfirst=True
)

df.set_index("datetime", inplace=True)
df.drop(["Date", "Time"], axis=1, inplace=True)

df.fillna(method="ffill", inplace=True)

df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [4]:
features = [
    "Global_active_power",
    "Global_reactive_power",
    "Voltage",
    "Global_intensity",
    "Sub_metering_1",
    "Sub_metering_2",
    "Sub_metering_3"
]

data = df[features]
data.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [5]:
scaler = MinMaxScaler()

scaled_data = pd.DataFrame(
    scaler.fit_transform(data),
    columns=data.columns,
    index=data.index
)

scaled_data.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,0.374796,0.300719,0.376090,0.377593,0.0,0.0125,0.548387
2006-12-16 17:25:00,0.478363,0.313669,0.336995,0.473029,0.0,0.0125,0.516129
2006-12-16 17:26:00,0.479631,0.358273,0.326010,0.473029,0.0,0.0250,0.548387
2006-12-16 17:27:00,0.480898,0.361151,0.340549,0.473029,0.0,0.0125,0.548387
2006-12-16 17:28:00,0.325005,0.379856,0.403231,0.323651,0.0,0.0125,0.548387

In [6]:
train_size = int(len(scaled_data) * 0.8)

train_data = scaled_data.iloc[:train_size]
test_data = scaled_data.iloc[train_size:]

print("Train shape:", train_data.shape)
print("Test shape:", test_data.shape)

Train shape: (1660207, 7)
Test shape: (415052, 7)

In [7]:
train_data.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,1.660207e+06,1.660207e+06,1.660207e+06,1.660207e+06,1.660207e+06,1.660207e+06,1.660207e+06
mean,9.363339e-02,8.789877e-02,5.666290e-01,9.351436e-02,1.316743e-02,1.689285e-02,2.053034e-01
std,9.877642e-02,8.051198e-02,1.083199e-01,9.515078e-02,7.129910e-02,7.504451e-02,2.710862e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.064096e-02,3.309353e-02,5.033926e-01,2.489627e-02,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.689480e-02,7.194245e-02,5.725363e-01,4.979253e-02,0.000000e+00,0.000000e+00,3.225806e-02
75%,1.334420e-01,1.381295e-01,6.358643e-01,1.286307e-01,0.000000e+00,1.250000e-02,5.483871e-01
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.545455e-01,1.000000e+00,1.000000e+00

In [8]:
test_data.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,415052.000000,415052.000000,415052.000000,415052.000000,415052.000000,415052.000000,415052.000000
mean,0.082722,0.092031,0.583501,0.082813,0.010455,0.012926,0.213717
std,0.079563,0.082575,0.086514,0.076605,0.061728,0.060192,0.273527
min,0.005613,0.000000,0.068498,0.008299,0.000000,0.000000,0.000000
25%,0.022995,0.037410,0.530856,0.024896,0.000000,0.000000,0.032258
50%,0.048705,0.070504,0.585460,0.049793,0.000000,0.000000,0.032258
75%,0.124932,0.142446,0.634895,0.120332,0.000000,0.012500,0.580645
max,0.873438,0.808633,0.979968,0.887967,1.000000,0.975000,1.000000